$padding: calc(var(--bee-padding) / 2);

.bee-list {
    width: 100%;
    height: calc(100vh - var(--bee-header-height));
    margin-top: var(--bee-header-height);
    overflow-y: auto;
    overflow-x: hidden;

    &-logo {
        width: 100%;
        height: max-content;
        overflow: hidden;

        img {
            display: flex;
            width: 100%;
            overflow: hidden;
        }
    }

    &-content {
        flex: 1;
        width: var(--bee-body-width);
        margin: var(--bee-margin) auto;
        padding: $padding;
        overflow: hidden;
        background-color: white;

        .content {
            display: flex;
            flex-wrap: wrap;
            overflow: hidden;

            .list-item {
                flex-basis: 25%;
            }
        }

        .list-page {
            display: flex;
            justify-content: center;
            padding: calc(var(--bee-padding) / 2);
        }
    }
}
