.bee-detail {
    width: 100%;
    height: calc(100vh - 45px - var(--bee-header-height));
    margin-top: var(--bee-header-height);
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &-logo {
        width: 100%;
        height: max-content;
        overflow: hidden;

        img {
            display: flex;
            width: 100%;
            overflow: hidden;
        }
    }

    &-body {
        flex: 1;
        display: flex;
        width: var(--bee-body-width);
        margin: var(--bee-margin) auto;
        padding: var(--bee-padding);
        background-color: #fff;
        overflow: hidden;
    }

    &-title {
        display: flex;

        .title {
            writing-mode: vertical-lr;
            font-size: 26px;
            font-weight: bold;
            font-family: var(--bee-font-family);
            padding: 0 var(--bee-padding);
            display: flex;
            justify-content: center;
        }
        .autho {
            writing-mode: vertical-lr;
            padding: var(--bee-padding);
            background-color: rgba(194, 141, 61, 0.3);
            border-right: 2px solid #C28D3D;
            font-size: 18px;
            font-family: var(--bee-font-family);
        }
    }

    &-content {
        flex: 1;
        height: 100%;
        writing-mode: vertical-lr;
        font-family: var(--bee-font-family);
        font-size: 20px;
        overflow-x: auto;
        overflow-y: hidden;
    }
}
